<!DOCTYPE html>
<html>
<head>
		<link rel="stylesheet" type="text/css" href="./lib/angular-material/angular-material.css" />
    <link rel="stylesheet" type="text/css" href="./lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="./styles/main.css" />
	<title></title>
</head>
<body ng-app="app">
<div class="container-fluid">
<div class="row">
<h1 class="col-md-6 col-md-offset-5">Agriculture Data</h1>
<div ng-controller="SearchController" ng-init="getSearch()">
	<div class="col-md-offset-5 col-md-2" ng-show="loading">
	<h1 class="text-center">Loading...</h1>
	<img src="./assets/loading.png"/>
</div>
<div class="col-md-6 col-md-offset-4 container">
		<form class="col-md-6 col-md-offset-2" name="filterData">
	<p ng-if="noData">Please enter a valid category</p>
		<input id="filterData" ng-change="checkForData()" ng-model="filterText" placeholder="search food category"/>
	<form>
</div>



	<div class="col-md-4" id="repeatBox" ng-repeat="data in dataArr | filter: filterText">
		<h3>Business: {{data.business}}</h3>
		<p>Category: {{data.category}}</p>
		<p>Item: {{data.item}}</p>
		<p>Address: {{data.location_1_location}} {{data.location_1_city}} {{data.location_1_state}} {{data.zipcode}}</p>
		<img ng-src="{{data.image}}"></img>
	</div>
</div>
</div>







<script src="./lib/angular/angular.min.js"></script>
<script src="./lib/angular-animate/angular-animate.min.js"></script>
<script src="./lib/angular-aria/angular-aria.min.js"></script>
<script src="./lib/angular-messages/angular-messages.min.js"></script>
<script src="./lib/angular-material/angular-material.min.js"></script>
<script src="./lib/underscore/underscore-min.js"></script>
<!-- app -->
<script src="./app/app.js"></script>
<script src="./lib/jquery/dist/jquery.min.js"></script>
<script src="./lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>