<!DOCTYPE html>
<html>
<head>
		<link rel="stylesheet" type="text/css" href="./lib/angular-material/angular-material.css" />
    <link rel="stylesheet" type="text/css" href="./lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="./styles/main.css" />
	<title></title>
</head>
<body ng-app="app">
<div class="container-fluid">
<div class="row">
<div ng-controller="SearchController" ng-init="getSearch()">
	<div class="col-offset-md-4 col-md-2" ng-show="loading">Data is loading
	<img src="./assets/loading.png"/>
</div>
		<md-form class="col-md-6 col-md-offset-5" name="filterData">
		<md-input id="filterData" ng-change="checkForData()" ng-model="filterText" placeholder="search food category"/>
	</md-form>
	<p ng-if="noData">Please enter a valid category</p>



	<div class="col-md-4" ng-repeat="data in dataArr | filter: filterText">
		<h3>{{data.business}}</h3>
		<p>{{data.category}}</p>
		<p>{{data.item}}</p>
		<p>{{data.location_1_city}} {{data.location_1_state}} {{data.zipcode}}</p>
		<img ng-src="{{data.image}}"></img>
	</div>
</div>
</div>








<!-- end of form guide  -->

<script src="./lib/angular/angular.min.js"></script>
<script src="./lib/angular-animate/angular-animate.min.js"></script>
<script src="./lib/angular-aria/angular-aria.min.js"></script>
<script src="./lib/angular-messages/angular-messages.min.js"></script>
<script src="./lib/angular-material/angular-material.min.js"></script>
<!-- app -->
<script src="./app/app.js"></script>
<script src="./lib/jquery/dist/jquery.min.js"></script>
<script src="./lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./lib/underscore/underscore-min.js"></script>
</body>
</html>