<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body ng-app="app">
<h1>YOYOYO</h1>
<div ng-controller="SearchController">
	
		
	
	<button ng-click = "checkForData()"></button>

	<button  ng-click="getSearch()">getSearch</button>
	<form name="filterData">
		<input id="filterData" ng-change="checkForData()" ng-model="filterText" placeholder="search for food"/>
	</form>
	<p ng-if="noData">NO DATA TO BE SEEN HERE</p>

	<div ng-repeat="data in dataArr | filter: filterText">
		<h3>{{data.business}}</h3>
		<p>{{data.category}}</p>
		<p>{{data.item}}</p>
		<p>{{data.location_1_city}} {{data.location_1_state}} {{data.zipcode}}</p>
		<img ng-src="{{data.image}}"></img>
	</div>
</div>




<!-- 
<md-card class="text-center">
  <md-card-title class="text-center">
    <md-card-title-text>
      <span class="md-headline">Welcome To Reddit Search</span>
      <span class="md-subhead">Enter in your search.</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content class="flexbox-parent">
    <div layout="row" layout-align="center center">
      <md-input-container id=mdInputFix flex=20>
        <form name="searchData" ng-submit=getData()>
          <input id="searchData" ng-model="search.searchTerm" placeholder="enter search term" ng-change="addSelection()" ></input>
          <md-button ng-click="getData()">Search</md-button>
        </form>
      </md-input-container>
      <md-input-container flex=20>
        <input ng-model="filterText"  placeholder="filter results"> </input>
      </md-input-container>
      <md-input-container flex=20>
        <label for="repeatSelect">page</label>
        <md-select name="repeatSelect" id="repeatSelect" ng-model="dataa.model" ng-change="updateSearchObjAndGetData()"  >
          <md-option ng-repeat="option in dataa.availableOptions" value="{{option.id}}" >
            {{option.name}}</md-option>
          </md-select>
        </md-input-container>
      </div>
    </div>
  </md-card-content>
</md-card> -->


<!-- end of form guide  -->



<script src="./lib/underscore/underscore-min.js"></script>
<script src="./lib/angular/angular.min.js"></script>
<script src="./app/app.js"></script>
</body>
</html>